# CMake Build
/build

# VS Code
/.vscode

# Lib Downloaded
/download

# Misc
*.zip

# Build Misc
*.a
# Note that the current version of GLFW is compiled for certain platform and may not be suitable for other platform
!libglfw3.a
